* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @media (max-width: 480px) {
        font-size: 12px;
    }
}

:root {
    --primary-background-color: #101825;
    --secondary-background-color: #1f1f1f;
    --background-color: #131313;
    --primary-color: #1973c8;
    --primary-color-dark: #0b50b3;
    --secondary-color: #6c757d;
    --text-color: #bfbfbf;
    --text-highlight-color: #ffffff;
    --heading-color: #969696;
    --section-color: #0b2044;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1;
}
